.recipeButtons {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.4rem 0.6rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  /*margin: 0 0.2rem 0 0.7rem;*/
}

.recipesBox {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.recipeText {
  margin-left: 15px;
}

.recipesTitle {
  color: #e74c3c;
  text-transform: uppercase;
  font-size: 15px;
  padding: 1.8rem 0 0.2rem 0;
}

.recipesSubtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
}

.recipesSubtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}

.recipeDietaryRestrictions {
  display: flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
